<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>NSMotionUsageDescription</key>
	<string>EarthReady uses motion data to create an interactive seismograph that responds to real device movement.</string>
</dict>
</plist>
